.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.generalRoombaSquare {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.mapSquare {
  transition: 0.5s;
  transition-timing-function: linear;
}

.dirtSquare {
  background-image: url('./Assets/dirtSquare.jpg');
  width: 2rem;
  height: 2rem;
  background-position: center;
}

.roombaSquare {
  background-image: url('./Assets/roombaKnife.png');
  width: 2rem;
  height: 2rem;
  background-position: center;
  background-size: cover;
}

.regularTreasureMapSquare {
  background-image: url('./Assets/parchmentSquare.jpg');
  width: 2rem;
  height: 2rem;
  background-position: center;
}

.fireSquare {
  background-image: url('./Assets/fire.jpg');
  width: 2rem;
  height: 2rem;
  background-position: center;
}

.treasureMapSquare {
  width: 2rem;
}
