@font-face {
  font-family: Atari;
  src: url('./Fonts/atari.ttf')
}

* {
  font-family: "Atari", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#mapTable {
  margin:auto;
  background-image: url('./Assets/beach.jpg');
  background-size: cover;
}

.generalSquare { 
  width: 6vw;
  height: 6vw;
}



.generalRoombaSquare {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.mapSquare {
  transition: 0.5s;
  transition-timing-function: linear;
}

.dirtSquare {
  background-image: url('./Assets/dirtSquare.jpg');

  background-position: center;
}

.roombaSquare {
  background-image: url('./Assets/roombaKnife.png');

  background-position: center;
  background-size: cover;
}

.regularTreasureMapSquare {
  background-image: url('./Assets/parchmentSquare.jpg');
  background-position: center;
  background-size: cover;
}

.fireSquare {
  background-image: url('./Assets/fire.jpg');
  background-position: center;
}

.dugSquare {
  background-image: url('./Assets/redX.jpg');
  background-position: center;
  background-size: cover;
}

.treasureMapSquare {
  width: 2rem;
}

#mapAndStatBoxDiv {
  display:flex;
  flex-direction: column;
}

#statBoxDiv {
  font-size: 1.2rem;
  padding: 1vw;
}

#dirtLocationsUL {
  list-style: none;
  padding: 0;
}

#statTable {
  width: 90%;
  padding: 3vw;
  margin: auto;
  font-size: 14px;
}

#statTable th {
  padding: unset !important;
}

.statTableRow {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@media only screen and (min-width: 375px) {
  #statTable {
    width: unset;
    font-size: unset;
  }
}

@media only screen and (min-width: 425px) {
  #statTable th {
    padding: 1vw !important;
  }
}

@media only screen and (min-width: 768px) {
  #statTable {
    width: 80%;
  }

  .generalSquare {
    width: 3vw;
    height: 3vw;
  }

  #mapAndStatBoxDiv {
    flex-direction: unset;
    width: fit-content;
    margin: auto;
  }
}

@media only screen and (min-width: 1024px) {
  #mapAndStatBoxDiv {
    justify-content: space-evenly;
    float:left
  }


}